{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Card game</h1>

<p>Card games are a classic.</p>
{% for i in range(0, suits|length-1) %}
    {% if suits[i] == "hearts" %}
        <p class="hand">[&#9829;{{ vals[i] }}]</p>
    {% elseif suits[i] == "spades" %}
        <p class="hand">[&spadesuit;{{ vals[i] }}]</p>
    {% elseif suits[i] == "diamonds" %}
        <p class="hand">[&diamondsuit;{{ vals[i] }}]</p>
    {% elseif suits[i] == "clubs" %}
        <p class="hand">[&clubs;{{ vals[i] }}]</p>
    {% elseif suits[i] == "joker" %}
    <p class="hand">[&#x1F0CF;{{ vals[i] }}]</p>
    {% endif %}
{% endfor %}

{% endblock %}