{% extends "base.html.twig" %}

{% block title %}Debug{% endblock %}

{% block body %}
<h1>Draw</h1>
<p><a href="{{ path('card_start') }}">Cards</a></p>
<p><a href="{{ path('card_shuffle') }}">Shuffle</a></p>
{{ numleft }}
{% if suit == "hearts" %}
    <p class="hand">[&#9829;{{ val }}]</p>
{% elseif suit == "spades" %}
    <p class="hand">[&spadesuit;{{ val }}]</p>
{% elseif suit == "diamonds" %}
    <p class="hand">[&diamondsuit;{{ val }}]</p>
{% elseif suit == "clubs" %}
    <p class="hand">[&clubs;{{ val }}]</p>
{% endif %}
{% endblock %}