{% extends "base.html.twig" %}

{% block title %}Debug{% endblock %}

{% block body %}
<h1>Draw</h1>
<p><a href="{{ path('card_start') }}">Cards</a></p>
<p><a href="{{ path('card_shuffle') }}">Shuffle</a></p>
{{ numleft }}
{% for i in range(0, suits|length-1) %}
    {% if suits[i] == "hearts" %}
        <p class="hand">[&#9829;{{ vals[i] }}]</p>
    {% elseif suits[i] == "spades" %}
        <p class="hand">[&spadesuit;{{ vals[i] }}]</p>
    {% elseif suits[i] == "diamonds" %}
        <p class="hand">[&diamondsuit;{{ vals[i] }}]</p>
    {% elseif suits[i] == "clubs" %}
        <p class="hand">[&clubs;{{ vals[i] }}]</p>
    {% elseif suits[i] == "joker" %}
    <p class="hand">[&#x1F0CF;{{ vals[i] }}]</p>
    {% endif %}
{% endfor %}
{% endblock %}