{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Card game</h1>

<p>Card games are a classic.</p>
{{ include('flash.html.twig') }}

<h1>Hand</h1>
<ul>
    {% for card in hand %}
        <li>{{ card }}</li>
    {% endfor %}
</ul>

<ul>
    {% for card in phand %}
        <li>{{ card }}</li>
    {% endfor %}
</ul>

<h1>Ny runda</h1>
<form action="{{ path('game_new') }}">
    <button type="submit" value="Val">Ny runda</button>
</form>

<h1>Status JSON</h1>
<form action="{{ path('game_api') }}">
    <button type="submit" value="Val">JSON</button>
</form>

<h1>Avsluta</h1>
<form action="{{ path('game_clear') }}">
    <button type="submit" value="Val">Avsluta</button>
</form>

{% endblock %}