{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Card game</h1>

<p>Card games are a classic.</p>
{{ include('flash.html.twig') }}

<h1>Hand</h1>
<ul>
    {% for card in hand %}
        <li>{{ card }}</li>
    {% endfor %}
</ul>
<form action="{{ path('game_draw') }}">
    <button type="submit" value="Val">Dra ett kort</button>
</form>
<h1>Är du nöjd?</h1>
<form action="{{ path('game_satisfaction') }}" method="POST">
    <label for="selector">Hur många poäng?</label>
    <select name="selector">
        {% for score in scores %}
            <option value={{ score }}>{{ score }}</option>
        {% endfor %}
    </select>
    <button type="submit" value="Val">Nöjd</button>
</form>

{% endblock %}