{% extends "base.html.twig" %}

{% block title %}Api landing{% endblock %}

{% block body %}
<h1>Api landing</h1>

<p>Landing page for html</p>

<ul>
    <li><a href="{{ path('apiapi') }}">Api</a></li>
    <li><a href="{{ path('api_luck_num') }}">Lucky number</a></li>
    <li><a href="{{ path('quote') }}">Quote</a></li>
    <li><a href="{{ path('card_api_deck') }}">Deck</a></li>
    <li><a href="{{ path('card_api_shuffle') }}">Shuffle</a></li>
    <li><a href="{{ path('card_api_draw') }}">Draw</a></li>
    <li><a href="{{ path('game_api') }}">Game info</a></li>
</ul>

{% endblock %}